.background{
    background-color: #083300;
}

body{
    font-family:'Zen Old Mincho';
    color: white;
    font-size: 18px;
}

.menu{
    background-color: none;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 8px; /* 图标、竖线和文字的间距 */
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-icon {
    width: 16px;
    height: 16px;
}

.divider {
    width: 1px; /* 竖线宽度 */
    height: 16px; /* 竖线高度，与图标对齐 */
    background-color: #fff; /* 白色竖线 */
}

.menu-text {
    text-transform: uppercase;
}

.ttl_Moji{
    color: white;
    font-size: 32px;
    font-family: Zen Old Mincho;
    font-weight: 400;
    word-wrap: break-word
}

.ttl_English{
    color: white;
    font-size: 18px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 26.13px;
    letter-spacing: 3.78px;
    word-wrap: break-word;
    width: 147px;
height: 52px;
}

.line{
border: 1px rgba(255, 255, 255, 0.50) solid"
}

