.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-left: 12px;
    padding-right: 12px;
}

.TripQuest {
    width: 100px;
    height: auto;
    flex-shrink: 0;
}