.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-left: 12px;
    padding-right: 12px;
}

.menu {
    display: flex;
}

.menu img {
    width: 16px;
    height: 15px;
    flex-shrink: 0;
}