.Header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    z-index: 1000; /* 确保 Header 在最上方 */
    /* transition: all 0.3s ease;  */
    /* 平滑过渡 */
    position: relative; /* 默认非固定状态 */
    background-color: transparent; /* 背景透明 */
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 8px 12px;
  }
  
  .menu img {
    width: 16px;
    height: 15px;
    border-right: 1px solid #fff;
    padding-right: 8px;
  }
  
  .menu p {
    color: #fff;
    margin: 0;
    font-size: 14px;
  }
  
  /* 当 Header 固定时的样式 */
  .Header2.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 369px;
    background-color: #003307; /* 固定时背景颜色 */
    padding: 20px 12px; /* 保持与非固定状态一致的 padding */

  }