@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');



body {
    color: white;
    font-size: 18px;
    background-color: #083300;
    max-width: 393px;
    margin: 0;
    overflow-x: hidden;
    /* 禁止水平滚动 */
    font-family: 'Zen Old Mincho','';
}

img {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    /* 避免 inline-block 元素默认的间隙 */
}

h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.94px;
}

h2 {
    font-size: 32pt;
    font-weight:400;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.44px;
}

h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}

.English{
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.176%; /* 17.421px */
    letter-spacing: 2.28px;
}

.fb {
    background-image: url(/mv_img.png);
    background-repeat: no-repeat;
}

.page1-container {
    /* height: calc(100vh - 69px);
overflow-y: auto; */
}