
body{
    font-family:'Zen Old Mincho';
    color: white;
    font-size: 18px;
    background-color: #083300;
    /* max-width: 393px; */
}

.ImageDivide{
    display: flex;
}

.ImageDivide img{
    width: 162px;
    height: 127px;
    flex-shrink: 0;
    border: 1px solid #FFF;
}

h1 {
    font-family: "Zen Old Mincho";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.94px;    
}

h2 {
    font-size: 32pt;
    font-family: 'Zen Old Mincho';

}

h3 {
    font-family: "Zen Old Mincho";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
}

.fb{
    background-image: url(/mv_img.png);

}

.page1-container{
    /* height: calc(100vh - 69px);
overflow-y: auto; */
}